# Introduction to Sklearn

This notebook  demostratet the most useful functions of the library SciKit-Learn

What we are going to cover :


0.  E-2-E SK workflow
1.  Getting the datq ready
2.  Choose the right estimator/algo
3.  Fir the model/algorithm and use it to make predictions on our data
4.  Evaluating a model 
5.  Improve the model
6.  Save and load trained model 
7.  Putting it together

#0. End to End Scikit Learn

#1. Get the data ready

In [2]:
import numpy as np
import pandas as pd
heart = pd.read_csv('heart-disease.csv')
heart

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [3]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
heart.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

No null values

In [5]:
#Create Feature Matrix:
X = heart.drop("target",axis=1)

#Create y labels as target
y = heart["target"]


#2 .Choose the Right Model and Hyperparameters

In [6]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

#We will keep the defaut params
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

# 3.Fit the model to Training Data

In [7]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [11]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(242, 13) (61, 13) (242,) (61,)

In [8]:
clf.fit(X_train,y_train);

In [12]:
#make a predictions
Y_preds = clf.predict(X_test)
Y_preds.shape

(61,)

# 4.Evaluate the model

In [14]:
#Training data
clf.score(X_train,y_train)

1.0

In [15]:
#Test data
clf.score(X_test,y_test)

0.8360655737704918

In [16]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [22]:
print(classification_report(y_test,Y_preds))

              precision    recall  f1-score   support

           0       0.85      0.79      0.81        28
           1       0.83      0.88      0.85        33

    accuracy                           0.84        61
   macro avg       0.84      0.83      0.83        61
weighted avg       0.84      0.84      0.84        61

In [24]:
print(accuracy_score(y_test,Y_preds))

0.8360655737704918

In [23]:
print(confusion_matrix(y_test,Y_preds))

[[22  6]
 [ 4 29]]

# 5 .Improve the model

In [27]:
# Try different amount of n_Estimators

np.random.seed(42)
for i in range(10,100,10):
  print(f"Trying with the {i} estimators... ")
  clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
  print(f"Model accuracy on test set:{clf.score(X_test,y_test) * 100:.2f}%")
  print("")

Trying with the 10 estimators...
Model accuracy on test set:80.33%

Trying with the 20 estimators...
Model accuracy on test set:83.61%

Trying with the 30 estimators...
Model accuracy on test set:86.89%

Trying with the 40 estimators...
Model accuracy on test set:88.52%

Trying with the 50 estimators...
Model accuracy on test set:85.25%

Trying with the 60 estimators...
Model accuracy on test set:83.61%

Trying with the 70 estimators...
Model accuracy on test set:85.25%

Trying with the 80 estimators...
Model accuracy on test set:90.16%

Trying with the 90 estimators...
Model accuracy on test set:86.89%

#Save a model and load it

In [30]:
import pickle

pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [32]:
loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(X_test,y_test)

0.8688524590163934